@import '../../styles/colors.scss';

.editorView {
  position: absolute;
  z-index: 3;
  background: rgba(0, 0, 0, 0.85);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transform: translateX(100vw);
  transition: transform 0.3s;

  &.open {
    transform: translateX(0);
  }
}

.editorViewInner {
  border: 1px solid red;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
}

.editor {
  width: 600px;
  overflow-y: auto;
  text-align: center;
  border: 1px solid red;

  .photoFile {
    cursor: pointer;

    input[type="file"] {
      position: fixed;
      top: -1000px;
    }
  }

  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media screen and (max-width: 456px) {
    flex-direction: column;
  }

  h2 {
    width: 100%;
    margin: 0;
    margin-bottom: 0.6em;
  }

  .photo {
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-right: 10px;
    width: 223px;
    height: 223px;
    background-color: #fff;
    background-image: url('../../img/add-photo.svg');
    background-size: inherit;
    box-shadow: none;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 200px;
      height: 200px;
    }

    @media screen and (max-width: 456px) {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  .fields {
    text-align: left;
    width: 223px;

    .fieldLabel {
      width: 223px;
      height: 47px;
      box-sizing: border-box;
      border-radius: 7px;
      font-size: 0.5rem;
      line-height: 1rem;
      background: #fff;
      padding-top: 0.2rem;
      padding-left: 1rem;
      margin-bottom: 0.7rem;

      &:last-of-type {
        margin-bottom: 0;
      }

      color: #999;

      .req {
        color: $berry;
      }

      input {
        margin-top: -1.2rem;
        margin-left: -1rem;
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0);
        width: 195px;
        height: 47px;
        padding-top: 1.1rem;
        padding-left: 1rem;
        border: 0;
        color: #000;
        border-radius: 7px;
        font-size: 1rem;
      }
    }
  }
}