@import "normalize.scss";

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
  background: #f4f4f4;
  background-color: var(--bodyBg);
  color: #222;
  color: var(--content);
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  overflow-x: hidden;
  transition: all 0.5s;
}

.lightMode {
  --bodyBg: #f4f4f4;
  --content: #222;
  --settingOverlayBg: rgba(255, 255, 255, 0.95);
  --settingsContent: #222;
}

.darkMode {
  --bodyBg: #202020;
  --content: #f4f4f4;
  --settingOverlayBg: rgba(0, 0, 0, 0.95);
  --settingsContent: #f4f4f4;
}

#freezerSection {
  // background-color: #999;
  background-image: url("../img/pat-2.png");
}

#fridgeSection {
  background-image: url("../img/pat.png");
  // background-color: #f4f4f4;
}

#root {
  border: 1px solid transparent;
}

.noscroll {
  overflow: hidden;
}
