@import "normalize.scss";

html,
body {
  // min-height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
  background: #f4f4f4;
  background-color: var(--bodyBg);
  color: #222;
  color: var(--content);
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  // overflow-x: hidden;
  transition: all 0.5s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lightMode {
  --bodyBg: #00A2D9;
  --containerBg: #fff;
  --addButton: #7AB800;
  --content: #202020;
  --settingOverlayBg: #fff;
  --settingsContent: #222;
  --navBg: #004f6a;
  --overlayHeading: #202020;
  --formFieldBg: #eee;
  --formLabelText: #999;
  --saveButton: #7ab800;
  --cancelButton: #7ab800;
  --removeButton: #B7295A;
  --removeCancelButton: #B7295A;
  --checkIconColor: #00a2d9;
  --checkIconLabel: #202020;
  --uncheckedIconLabel: #777;
}

.darkMode {
  --bodyBg: #000;
  --containerBg: #1b1b1b;
  --addButton: #3f3f3f;
  --content: #f4f4f4;
  --settingOverlayBg: #1b1b1b;
  --settingsContent: #f4f4f4;
  --navBg: #3f3f3f;
  --overlayHeading: #f4f4f4;
  --formFieldBg: #333;
  --formLabelText: #999;
  --saveButton: #7ab800;
  --cancelButton: #f4f4f4;
  --removeButton: #B7295A;
  --removeCancelButton: #f4f4f4;
  --checkIconColor: #00a2d9;
  --checkIconLabel: #f4f4f4;
  --uncheckedIconLabel: #777;
}

#freezerSection {
  // background-color: #999;
  // background-image: url("../img/pat-2.png");
}

#fridgeSection {
  // background-image: url("../img/pat.png");
  // background-color: #f4f4f4;
}

#root {
  border: 1px solid transparent;
  position: relative;
}

.noscroll {
  overflow: hidden;
}