@import '../../styles/colors.scss';

.food {
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;

  &:hover {
    transform: scale(1.05);
  }

  &:nth-of-type(4n) {
    margin-right: 0;
  }

  @media screen and (max-width: 760px) {
    &:nth-of-type(4n) {
      margin-right: 20px;
    }

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 570px) {
    &:nth-of-type(3n) {
      margin-right: 20px;
    }

    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }

  transition: transform 0.2s;
  perspective: 1000px;

  .flipper {
    width: 170px;
    height: 170px;
    transition: transform 0.3s, box-shadow .2s;
    ;
    transform-style: preserve-3d;
    position: relative;

    @media screen and (max-width: 380px) {
      width: 150px;
      height: 150px;
    }

    @media screen and (max-width: 340px) {
      width: 130px;
      height: 130px;
    }
  }

  &.flipped {
    .flipper {
      transform: rotateY(180deg);
    }
  }

  .front,
  .back {
    width: 170px;
    box-sizing: border-box;
    height: 170px;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;

    &:hover {
      box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    }

    @media screen and (max-width: 380px) {
      width: 150px;
      height: 150px;
    }

    @media screen and (max-width: 340px) {
      width: 130px;
      height: 130px;
    }
  }

  .front {
    z-index: 2;
    transform: rotateY(0deg);

    h2 {
      position: absolute;
      right: -5px;
      top: 5px;
      font-size: 12px;
      background: #fff;
      padding: 5px 10px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      max-width: 120px;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -5px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 5px 5px 0 0;
        border-color: #777 transparent transparent transparent;
      }
    }

    .quantity {
      font-weight: 700;
      font-size: 10px;
      position: absolute;
      left: 5px;
      line-height: 1;
      bottom: 5px;
      padding: 8px;
      border-radius: 30px;
      background: rgba(0, 0, 0, 0.75);
      color: $berry;
      color: #fff;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.75);
    }
  }

  .back {
    padding: 10px;
    transform: rotateY(180deg);
  }
}

.foodDetail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h2 {
    margin: 0;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
  }

  .quantity {
    position: static;
    font-size: 14px;
    line-height: 1;
    box-shadow: none;
    padding: 0;
    color: #000;
    font-weight: 400;

    &::before {
      content: "(";
    }

    &::after {
      content: ")";
    }
  }

  .dates {
    font-weight: 200;
    font-size: 12px;
    display: flex;
    align-items: center;

    &:first-of-type {
      margin-top: 8px;
    }

    .addedIcon {
      width: 16px;
      height: 20px;
      margin-right: 5px;
    }

    .expireIcon {
      width: 16px;
      height: 16px;
      margin-right: 5px;
      padding-top: 3px;
    }
  }

  .closeItem {
    position: absolute;
    cursor: pointer;
    right: -5px;
    top: -5px;
    width: 25px;
    height: 25px;
    transition: transform 0.2s, opacity .2s;
    opacity: 1;
    z-index: 3;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.foodImg {
  cursor: pointer;
  width: 170px;
  height: 170px;
  border-radius: 10px;
  object-fit: cover;

  @media screen and (max-width: 380px) {
    width: 150px;
    height: 150px;
  }

  @media screen and (max-width: 340px) {
    width: 130px;
    height: 130px;
  }
}

.editBtns {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  button {
    width: 50%;
    position: absolute;
    bottom: 0;
    font-size: 13px;
    box-sizing: border-box;
    outline: none;
    border: none;
    color: #fff;
    padding: 5px;
    font-weight: 700;
    transition: background 0.2s;

    &.edit {
      left: 0;
      background: $green;
      border-radius: 0 0 0 10px;

      &:hover {
        background: darken($green, 15%);
      }
    }

    &.delete {
      right: 0;
      background: $berry;
      border-radius: 0 0 10px 0;

      &:hover {
        background: darken($berry, 15%);
      }
    }
  }
}

.deleteConfirm {
  opacity: 0;
  pointer-events: none;
  transform: translateY(50px);
  transition: transform .2s, opacity .2s;

  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(255, 255, 255, .9);
  color: #202020;
  border-radius: 10px;

  h4,
  h6 {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0 10px;
    text-align: center;
  }

  h4 {
    margin-top: 30px;
  }

  h6 {
    margin-top: 5px;
  }

  .deleteConfirmBtns {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: #fff;

    button {
      border: none;
      width: 48%;
      font-weight: 700;
      line-height: 1.2;
      padding: 10px 0;
      border-radius: 15px;
      transition: transform .2s, box-shadow .2s;

      &:hover {
        transform: scale(1.04);
        box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
      }

      span {
        display: block;
        font-size: 0.6em;
      }
    }

    .deleteYes {
      background: $berry;
      color: lighten($berry, 50%);

    }

    .deleteNo {
      color: darken($yellow, 28%);
      background: $yellow;

    }
  }
}

.deleting {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}